.song {
  display: flex;
  flex-direction: column;
}

.title {
  position: running(headerCenter);
  font-family: sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

.label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
}

.verse {
  border-top: 2px solid black;
  page-break-inside: avoid;
}

.chords, .lyrics {
  font-family: "Consolas", "Liberation Mono", Menlo, Courier, monospace;
}

.chords {
  font-weight: bold;
}

.comment_box {
  border: 2px solid grey;
  padding: 0px 5px;
  display: inline-block; /* not full width */
}

@page  {
  size: letter;
  margin: 20mm;
  @top-center {
    content: element(headerCenter) !important;
  }
  @top-right {
    content: "Page " counter(page); /* Displays "Page X" */
  }
}